.competitions-view {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;

  &__items {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}