.FormCard {
  max-width: 500px;
  width: 100%;

  &__title {
    text-align: center;
    font-size: 40px;
    margin: 0 0 40px 0;
  }
}

.dark-theme {
  .css-bhp9pd-MuiPaper-root-MuiCard-root {
    background-color: #0d1117!important;
    color: #fff!important;

    label {
      color: #fff!important;
    }
  }
}