.ResultForm {
  max-width: 300px;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 50px;

  &__title {
    text-align: center;
    font-size: 25px;
  }

  &__subtitle {
    text-align: center;
    font-weight: 700;
  }

  &__avatar {
    max-width: 100px;
    display: block;
    margin: 0 auto;
  }

  &__user-info {
    &:not(:first-child) {
      margin-top: 20px;
    }

    span:first-child {
      margin-right: 10px;
    }
  }
}