.Field {
  margin-bottom: 15px;
  padding-bottom: 20px;
  position: relative;

  &__error {
    color: #d32f2f;
    margin: 5px 0 0 0;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    &::before {
      display: inline;
      content: "⚠ ";
    }
  }
}