.registration-form {
  border: 1px solid #000;
  max-width: 400px;
  width: 100%;
  padding: 30px;

  &__title {
    font-size: 20px;
    text-align: center;
    margin: 0 0 30px 0;
  }

  &__field {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__submit {
    margin-top: 20px!important;
  }
}