.CreateCard {
  width: 300px;
  padding: 20px;
  font-size: 16px;

  &__field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    max-width: 185px;
  }

  &__title {
    text-transform: capitalize;
  }

  &__select {
    display: block;
    width: 100%;
    max-width: 185px;
  }
}
