.main-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &.dark-theme {
    background-color: #0d1117;
  }

  .switch {
    position: fixed;
    top: 100px;
    right: 100px;
  }

}
