* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.App__content {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.AppHeader {
  min-height: 100px;
  background-color: rgb(66, 66, 138);
  display: flex;
  align-items: center;
  justify-content: center;
}

.AppHeader__logo {
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Gluten', cursive;
}

.AppHeader__logo-link {
  text-decoration: none;
}

.AppHeader__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AppHeader__search {
  display: flex;
}

.AppHeader__search-input {
  height: 30px;
  border: 2px solid #c4c4c4;
  font-size: 20px;
  margin-right: 15px;
  display: inline-block;
  width: 250px;
} 

.AppHeader__search-btn {
  height: 30px;
  padding: 0 15px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 870px;
}

.CardItem {
  border-radius: 20px;
  border: 1px solid #000;
  padding: 15px;
  max-width: 250px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 30px;
  transition: all .3s ease;
}

.CardItem:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.CardItem__preview {
  margin-bottom: 20px;
}

.CardItem__img {
  width: 50%;
}

.CardItem__field:not(:first-child) {
  margin-top: 15px;
}

.CardItem__field span {
  display: inline-block;
}

.CardItem__field-title {
  margin-right: 10px;
}

.CreateCard {
  width: 300px;
  padding: 20px;
  font-size: 16px;
}

.CreateCard__field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CreateCard__input {
  max-width: 185px;
}

.CreateCard__title {
  text-transform: capitalize;
}
