.AppModal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  width: 100%;
  height: 100vh;

  &.show {
    display: block;
  }

  &__field {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    span:first-child {
      margin-right: 10px;
      text-transform: capitalize;
    }
  }

  &__picture {
    height: 90px;
  }

  &__content {
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    width: 100%;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 20px;
    font-weight: 700;
    color: red;
    background-color: transparent;
    padding: 5px;
    border: 0;
    cursor: pointer;
  }
  
}